# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py,cover

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# -----------------
# Build / packaging
# -----------------
build/
dist/
*.egg-info/
.eggs/

# -----------------
# ROS2 / colcon
# -----------------
build/
install/
log/
.colcon/

# -----------------
# IDE
# -----------------
.vscode/
.idea/
*.code-workspace

# -----------------
# OS
# -----------------
.DS_Store
Thumbs.db

# -----------------
# Runtime / cache
# -----------------
.cf_cache/

# -----------------
# Logs
# -----------------
*.log
*.log.*

# -----------------
# Other
# -----------------
run_backend_terminals.sh
upgrade.txt
how_to.txt